<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <script src="../static/home.js"></script>
    <meta charset="utf-8">
    <title>PooH ml2023</title>
</head>
<body>
    <header>
        <h1>Welcome to PooH's machine learning</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#">Car Price</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('ml_predict', model_name='linear_regression') }}">Linear Regression</a>
                    <a href="{{ url_for('ml_predict', model_name='random_forrest') }}">Random Forrest</a>
                    <a href="{{ url_for('ml_predict', model_name='logistic_regression') }}">logistic regression</a>
                </div>
            </li>
            <!-- <li><a href="/">Home</a></li> -->
        </ul>
    </nav>

    <section class="main-content">
        

        <p>
            Explore our advanced machine learning models, you can go to carprice prediction websit though navigation bar.
            the new one is linear regression
        </p>
        <button class="explore-button" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'">Explore Now</button>
    </section>

    <footer>
        <p>&copy; 2023 Your Company</p>
    </footer>
</body>
</html>