<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <script src="../static/home.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/{{page_style}}.css">
    <title>Car Price Prediction</title>
</head>
<body>

    {% include 'nav.html' %}
    
    <h1>Car Price Prediction</h1>

    <p>{{ describe }}</p>

    <div  class="form-container">
        <form method="post">
            {% for input_info in model_input %}
            <label for="{{ input_info.name }}">{{ input_info.name }}:</label>
            <input type="text" id="{{ input_info.name }}" name="{{ input_info.name }}" ><br>
            {% endfor %}
            <input type="submit" value="Predict">    
            
        </form>
    </div>

    <!-- <div class="button-container">
        <a href="/" class="button">home</a>
    </div> -->
    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% endif %}

</body>
</html>
