<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="#">Car Price</a>
            <div class="dropdown-content">
                <a href="{{ url_for('ml_predict', model_name='linear_regression') }}">Linear Regression</a>
                <a href="{{ url_for('ml_predict', model_name='random_forrest') }}">Random Forrest</a>
                <a href="{{ url_for('ml_predict', model_name='logistic_regression') }}">Logistic Regression</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#">Reinforcement Learning</a>
            <div class="dropdown-content">
                <a href="https://www.youtube.com/watch?v=LMnA2ZDrq-E&list=PLU9N81OUgz2vlweTIqHFwY1hmHhXeWboh">Carla Training</a>
                <a href="https://youtube.com/playlist?list=PLU9N81OUgz2uAL93hZ1R6VcP_Zgwlduxr&si=tN62eqJuKpFuObS4">AIT Self-Driving Project</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="#">Voice Assistant</a>
            <div class="dropdown-content">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Singer 1987</a>
            </div>
        </li>
    </ul>
</nav>